.pageheading {
  height: 50px;
  text-align: center;
  background: #226e8e;
  background: -webkit-linear-gradient(right, #226e8e, #40e5e0);
  background: -moz-linear-gradient(right, #226e8e, #40e5e0);
  background: linear-gradient(to left, #226e8e, #40e5e0);
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.pageheading h2 {
  margin: 0;
  padding: 10px;
  color: #fff;
}
