.content-container {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-column-gap:10px;
    grid-row-gap:10px;
    margin-top: 50px;
}

@media (max-width: 900px) {
    .content-container {
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        grid-column-gap:10px;
        grid-row-gap:10px;
    }  
}

@media (min-width: 900px) and (max-width: 1400px) {
    .content-container {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-column-gap:10px;
        grid-row-gap:10px;
    }  
}

