.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #000;
  width: 100%;
}

.footer-container p {
  text-transform: capitalize;
}

.footer-container h5 {
  margin: 0;
  padding: 10px;
  font-size: 19px;
}
